@model DailyPlanner.DomainClasses.Activity

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Activity", FormMethod.Post, new { @class = "form-horizontal" })) {
     
    <fieldset>

        <legend>Create a new activity</legend>
        
        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                <button type="submit" class="btn btn-primary btn-block" value="Create">Create</button>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


