@model DailyPlanner.DomainClasses.Activity

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Activity", FormMethod.Post, new { @class = "form-horizontal" })) {
  
      @Html.ValidationSummary(true)
    
    <fieldset>
        
        <legend>Create a new activity</legend>

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-xs-10">
                <button type="submit" class="btn btn-primary btn-sm" value="Create">Create</button>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


