@model DailyPlanner.DomainClasses.Activity

@{
    ViewBag.Title = "Delete";
}
@using (Html.BeginForm("Delete", "Activity", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <fieldset>
        <legend>Delete <i> @Model.Name </i> activity</legend>

       @Html.Partial("_DeleteOrDetails", @Model)

        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Delete" />
            </div>
        </div>

    </fieldset>



}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

