@model DailyPlanner.DomainClasses.Pill

@{
    ViewBag.Title = "Delete";
}


@using (Html.BeginForm("Delete", "Pill", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Delete medicine</legend>


        @Html.Partial("_DeleteOrDetails", @Model)

        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Delete" />
            </div>
        </div>
    </fieldset>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
