@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>An application for a better collaboration between parents and nannies.</p>
<p>Parents can add activities, toys, meals, pills and nannies could see what the tasks for a certain day are.</p>
