@{
    ViewBag.Title = "Contact";
}
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/scripts/AjaxDemo.js")">
    
    </script>
}


<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("AddComment", 
                        "Contact",
                        FormMethod.Post,
                        new { id = "commentForm" }))
{
    <textarea rows="4" cols="50" id="comment">
        Please leave us a message!
    </textarea>
    <input type="submit" id="submit" name="Sumbit"/>
    <div id="comments"></div>
}
@{
    var message = ViewBag.Comment;
    if (message != "")
    {
        <p>
            Your message was: @message
        </p>
    }
}



