@{
    ViewBag.Title = "Contact";
}
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/scripts/AjaxDemo.js")">
    
    </script>
}


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("AddComment", 
                        "Contact",
                        FormMethod.Post,
                        new { id = "commentForm" }))
{
    <textarea rows="4" cols="50" id="comment">
        Please leave us a message!
    </textarea>
    <input type="submit" id="submit" name="Sumbit"/>
    <div id="comments"></div>
}
@{
    var message = ViewBag.Comment;
    if (message != "")
    {
        <p>
            Your message was: @message
        </p>
    }
}





@Html.ActionLink("Show the privacy policy", "PrivacyPolicy", "Contact", null, new { id = "privacyLink" })
<div id="privacy"></div>



<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>