@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Plan your day</h1>
    <p class="lead">Start your day first by planning it!</p>
    <p>
	    @Html.ActionLink("Go and plan >>", "Index", "DailyTask")
    </p>
</div>

@*@if (User != null)
{
    if (User.Identity != null)
    {
        if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_AdministrationSection")
        }
    }
}*@