@model DailyPlanner.DomainClasses.ActivityType

@* This partial view defines form fields that will appear when creating and editing entities *@
@Html.AntiForgeryToken()

<div class="form-group">
    
        @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
    
    <div class="col-sm-10">
        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
