@model DailyPlanner.DomainClasses.ActivityType


<div class="form-group">
    <label for="@Model.Name" class="control-label col-xs-2">
        Name
    </label>
    <div class="col-xs-10">
        <p class="form-control-static">
            @Model.Name
        </p>
    </div>
</div>
