@model DailyPlanner.DomainClasses.ActivityType

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "ActivityType", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>Create a new activity type</legend>
        
        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


