@model DailyPlanner.DomainClasses.ActivityType

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "ActivityType", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a new activity type</legend>

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Create activity type" class="btn btn-primary btn-sm" />
            </div>
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


