@model DailyPlanner.DomainClasses.ActivityType

@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm("Delete", "ActivityType", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Delete <i> @Model.Name </i> activity type</legend>
        
        @Html.Partial("_DeleteOrDetails", @Model)
        
        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">

                <input type="submit" value="Delete" class="btn btn-primary btn-block" />
            </div>
        </div>

    </fieldset>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

