@model DailyPlanner.DomainClasses.ActivityType

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend><i> @Model.Name </i> activity type details</legend>

    <form class="form-horizontal">

        @Html.Partial("_DeleteOrDetails", @Model)


        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </form>

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

