@model DailyPlanner.DomainClasses.ActivityType

@{
    ViewBag.Title = "Details";
}

<fieldset>
    <legend>@Model.Name activity type details</legend>

    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Model.Name
        </dd>

    </dl>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">

                @Html.ActionLink("Edit activity type", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-xs" })

            </div>
        </div>
    
</fieldset>
    @Html.ActionLink("Back to List", "Index")


