@model DailyPlanner.DomainClasses.DailyTask

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "DailyTask", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create a new daily task</legend>

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary" value="Create">Create</button>
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


