@model IEnumerable<DailyPlanner.DomainClasses.DailyTask>

@{
    ViewBag.Title = "Index";
}

<h3>Daily tasks</h3>

<p>
    @Html.ActionLink("Create new task", "Create")
</p>
<p>

    @using (Html.BeginForm("SearchByDate", "DailyTask"))
    {
        @Html.AntiForgeryToken()

        var selectedDate = DateTime.Now.ToString("yyyy-MM-dd");
        if (ViewBag.Date != null)
        {
            selectedDate = ViewBag.Date;
        }
        <input type="date" name="date" id="date" value="@selectedDate" />
        <input type="submit" value="Search by date" class="btn btn-primary" />
    }
</p>

@Html.Partial("_List")
<br/>
<hr/>
<br/>

<p>
    Total time for activities <span id="totalTimeMinutes"></span> minutes, meaning
    <span id="totalTimeHours"></span> hours and <span id="minutes"></span> minutes.
</p>

<p>
    Total time calculated on the server is <span id="totalTimeServer"></span> minutes.
</p>

@section scripts{
    <script type="text/javascript" src="~/Scripts/CalculateTotalTime.js">    

    </script>

}
