@model DailyPlanner.DomainClasses.ToyType

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "ToyType", FormMethod.Post, new { @class = "form-horizontal" })) 
{

    <fieldset>
        <legend>Create a new toy type</legend>

        @Html.ValidationSummary(true)

        @Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Create" />
            </div>
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


