@model DailyPlanner.DomainClasses.Toy

@{
    ViewBag.Title = "Details";
}

<form class="form-horizontal">
    <fieldset>
        <legend>@Model.Name toy details</legend>

        @Html.Partial("_DeleteOrDetails", @Model)
        
        <div class="form-group">
            <div class="col-xs-5"></div>
            <div class=" col-xs-2 text-center">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>

    </fieldset>

</form>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

